# Week 02 Class: Exercises

In this exercise, we will review python basics.

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "GV918"
4.   String variable str_var_a with value of "Data for Social Data Science"

In [1]:
var_a = 3
var_b = 100
str_var_a = "GV918"
str_var_b = "Data for Social Data Science"

In [2]:
var_b

100

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

In [3]:
var_a + var_b

103

In [4]:
var_a - var_b

-97

In [5]:
var_a * var_b

300

In [6]:
var_b / var_a

33.333333333333336

## Saving on Github

- Before going to the next section, let's save the work on github.

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use `*.split` method

In [7]:
list_a = [1, 3, 4, 5, 9, 2, 4.5]

In [8]:
my_str = "this is a simple string list"

In [9]:
list_b = my_str.split(" ")

In [10]:
list_b

['this', 'is', 'a', 'simple', 'string', 'list']

### Slicing lists

- From the first list, extract a sublist with elements of:
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

In [11]:
list_a[0:3]

[1, 3, 4]

In [12]:
list_a[4:7]

[9, 2, 4.5]

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

In [13]:
list_a.append(100)

In [14]:
list_a[1] = 12

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

In [15]:
list_c = list_a + list_b

In [16]:
list_c

[1, 12, 4, 5, 9, 2, 4.5, 100, 'this', 'is', 'a', 'simple', 'string', 'list']

### Copying lists

Do the following operations
- Assign `list_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

In [17]:
list_a2 = list_a
list_a2[0] = 7

In [18]:
list_a

[7, 12, 4, 5, 9, 2, 4.5, 100]

In [19]:
list_a3 = list_a.copy()
list_a3[0] = 10000
list_a

[7, 12, 4, 5, 9, 2, 4.5, 100]

In [20]:
list_a3

[10000, 12, 4, 5, 9, 2, 4.5, 100]

## Dictionary

- create a dictionary with the follwoing key-value pairs
    *   a: 10
    *   b: 20
    *   c: 70
- add some new key and value

In [21]:
## Creating new dicitonary
my_dic = {"a": 10, "b": 20, "c": 70}
my_dic

{'a': 10, 'b': 20, 'c': 70}

In [22]:
## create new key 'd' with value "new value"
my_dic['d'] = "new value"
## Print it
my_dic

{'a': 10, 'b': 20, 'c': 70, 'd': 'new value'}

## (Optional) String operation

### Concatenation

Let's do some string operation

In [23]:
str_1 = "Hello"
str_2 = "world"
str_3 = "!"

How to concateneate them to craete "Hello world?"
[https://www.w3schools.com/python/python_strings.asp](https://www.w3schools.com/python/python_strings.asp)

In [24]:
# You can concatenate strings with '+' sign in python
str_1 + ' ' + str_2 + str_3

'Hello world!'

### Formatting

Read the section of **String Format** and try to generate "Today is 13-10-2020"

In [25]:
year = 2020
month = 10
date = 13
fill_str = "Today is {}-{}-{}" ## this part has to be changed

In [26]:
## format() is a very handy method when you need text output in python. 
## Here, you can do:
fill_str.format(year, month, date)

'Today is 2020-10-13'